:host {
    display: flex;
    width: 100%;

    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right: 1rem;
        box-sizing: border-box;
        margin: 0 auto 5rem auto;
        gap: 1rem;

        & > .options {
            display: flex;
            gap: 1rem;
            width: 100%;
            box-sizing: border-box;
            padding: 1rem;
            background-color: var(--background-secondary);
            border-radius: .5rem;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                border: none;
                color: var(--text);
                cursor: pointer;
                height: 2rem;
                width: 2rem;

                &:hover {
                    color: var(--primary);
                }
            }
        }

        .list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            gap: 1rem;

            .member {
                background-color: var(--background-secondary);
                width: 100%;
                height: 5.5rem;
                display: flex;
                align-items: center;
                gap: 1rem;
                position: relative;
                padding: 1rem;
                box-sizing: border-box;
                border-radius: .5rem;

                .options {
                    display: flex;
                    gap: .5rem;
                    position: absolute;
                    top: 0;
                    right: 0;

                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: transparent;
                        border: none;
                        color: var(--text);
                        cursor: pointer;
                        padding: .25rem;
                        border-radius: .25rem;
                        height: 2rem;
                        width: 2rem;

                        &:hover {
                            background-color: var(--background-hover);
                        }
                    }

                    span.status {
                        box-sizing: border-box;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 2rem;
                        padding: .15rem .5rem;
                        background-color: var(--primary);
                        border-radius: 0 .25rem 0 .25rem;

                        &.pending {
                            background-color: var(--status-pending);
                        }

                        &.rejected {
                            background-color: var(--status-rejected);
                        }
                    }
                }

                img.avatar {
                    width: 3.5rem;
                    height: 3.5rem;
                    border-radius: 3.5rem;
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    gap: .25rem;

                    p {
                        font-weight: 500;
                        color: var(--text);
                    }
                }
            }
        }
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & > span.void {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    & > .container {
        position: absolute;
        display: flex;
        flex-direction: column;
        min-width: 15rem;

        span.title {
            background-color: var(--background-secondary);
            padding: .25rem .5rem;
            box-sizing: border-box;
            border-radius: .5rem .5rem 0 0;
            margin-left: 1rem;
            width: 5rem;
            min-width: fit-content;
            user-select: none;
            pointer-events: none;
        }

        .content {
            box-sizing: border-box;
            background-color: var(--background);
            padding: 1rem;
            border-radius: .5rem;
            display: flex;
            max-height: 80vh;

            &.member {
                flex-direction: column;
                width: 40rem;
                gap: 2rem;

                .header {
                    display: flex;
                    align-items: center;
                    gap: 1.5rem;

                    img.avatar {
                        width: 10rem;
                        height: 10rem;
                        border-radius: 10rem;
                    }
                }

                .main {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

                    & > div {
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;
                        box-sizing: border-box;

                        &:nth-child(odd) {
                            border-right: 1px solid var(--border);
                            padding-right: 1rem;
                        }

                        &:nth-child(even) {
                            padding-left: 1rem;
                        }

                        &.dangerzone {
                            min-height: 8rem;
                            justify-content: space-between;
                        }

                        h3 {
                            font-weight: 500;
                            color: var(--text);
                        }

                        .form-group {
                            display: flex;
                            align-items: center;
                            gap: .5rem;
                            justify-content: space-between;

                            p {
                                color: var(--text);
                                font-weight: 500;
                            }
                        }

                        .button-group {
                            display: flex;
                            gap: .5rem;
                        }

                        button {
                            width: 100%;
                            padding: .25rem .5rem;
                            background-color: var(--primary);
                            color: var(--text);
                            border: none;
                            border-radius: .25rem;
                            cursor: pointer;

                            &.danger {
                                background-color: var(--status-rejected);
                            }

                            &:disabled {
                                background-color: var(--border);
                                cursor: not-allowed;
                                opacity: .5;
                            }

                            &:hover {
                                opacity: 0.9;
                            }
                        }
                    }
                }

                & > .disclaimer {
                    color: var(--text);
                    font-size: .9rem;
                    margin-top: -1rem;
                    opacity: .8;
                    text-align: center;
                    margin: 1rem 0;
                }

                & > .footer {
                    display: flex;
                    justify-content: flex-end;
                    gap: .5rem;

                    button {
                        width: 7.5rem;
                        height: 2.5rem;
                        border-radius: .25rem;
                        background-color: transparent;
                        color: var(--text);
                        font-size: 1rem;
                        font-weight: 500;
                        border: 1px solid var(--text);
                        cursor: pointer;
                        transition: background-color 150ms ease-in-out;

                        &:hover {
                            opacity: .9;
                        }

                        &.danger {
                            background-color: var(--status-rejected);
                            border: none; 
                        }

                        &.primary {
                            background-color: var(--primary);
                            border: none;
                        }
                    }
                }
            }

            &.invite {
                flex-direction: column;
                gap: 1rem;
                width: 25rem;
                height: 25rem;

                .search {
                    display: flex;
                    align-items: center;
                    background-color: var(--background);
                    border: 1px solid var(--border);
                    border-radius: 0.25rem;
                    width: 100%;

                    input {
                        width: 100%;
                        padding: .25rem 0 .25rem .5rem;
                        border: none;
                        background-color: transparent;
                        color: var(--text);
                        font-size: 1rem;
                        width: 100%;
                        outline: none;

                        &::placeholder {
                            color: var(--border);
                        }
                    }

                    button {
                        border: none;
                        background-color: transparent;
                        color: var(--text);
                        font-size: 1rem;
                        cursor: pointer;
                        height: 2rem;
                        width: 2.25rem;
                        overflow: hidden;

                        &.clear {
                            div {
                                transform: translateY(-100%);
                            }
                        }

                        div {
                            transition: transform 250ms ease-in-out;
                            padding: .25rem .5rem;
                            box-sizing: border-box;
                            height: 2rem;
                            width: 2rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        &:hover {
                            color: var(--primary);
                        }
                    }
                }

                .list {
                    display: flex;
                    flex-direction: column;
                    gap: .25rem;
                    max-height: 100%;
                    overflow-y: auto;

                    .player {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border-radius: .25rem;
                        padding: .5rem;
                        box-sizing: border-box;

                        & > div {
                            display: flex;
                            align-items: center;
                            gap: .5rem;

                            img.avatar {
                                width: 3rem;
                                height: 3rem;
                                border-radius: 3rem;
                            }

                            p {
                                color: var(--text);
                                font-weight: 500;
                                max-width: 100%;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                            button {
                                border: none;
                                background-color: transparent;
                                color: var(--text);
                                font-size: 1rem;
                                cursor: pointer;
                                height: 2rem;
                                width: 2.25rem;

                                &:hover {
                                    color: var(--primary);
                                }
                            }
                        }

                        &:hover {
                            background-color: var(--background-secondary);
                        }
                    }
                }

                p.disclaimer {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: var(--text);
                    font-size: .9rem;
                    margin-top: -1rem;
                    opacity: .8;
                    text-align: center;
                }
            }
        }
    }
}