:host {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    padding-top: var(--nav-height);
    box-sizing: border-box;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;

    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 1rem;
        background-color: var(--background-secondary);
        border-radius: .5rem;

        & > div {
            display: flex;
            align-items: center;
            gap: .5rem;

            .search {
                display: flex;
                align-items: center;
                background-color: var(--background);
                border: 1px solid var(--border);
                border-radius: 0.25rem;
                width: 15rem;

                input {
                    width: 100%;
                    padding: .25rem 0 .25rem .5rem;
                    border: none;
                    background-color: transparent;
                    color: var(--text);
                    font-size: 1rem;
                    width: 100%;
                    outline: none;

                    &::placeholder {
                        color: var(--border);
                    }
                }

                button {
                    border: none;
                    background-color: transparent;
                    color: var(--text);
                    font-size: 1rem;
                    cursor: pointer;
                    height: 2rem;
                    width: 2.25rem;
                    overflow: hidden;

                    &.clear {
                        div {
                            transform: translateY(-100%);
                        }
                    }

                    div {
                        transition: transform 250ms ease-in-out;
                        padding: .25rem .5rem;
                        box-sizing: border-box;
                        height: 2rem;
                        width: 2rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    &:hover {
                        color: var(--primary);
                    }
                }
            }

            & > button {
                height: 2rem;
                width: 2rem;
                border: none;
                background-color: transparent;
                color: var(--text);
                cursor: pointer;

                &:hover {
                    color: var(--primary);
                }

                fa-icon {
                    font-size: 1rem;
                }
            }
        }
    }

    main {
        .list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
            gap: 1rem;
            box-sizing: border-box;
            padding: 1rem 0;

            .group {
                background-color: var(--background-secondary);
                box-sizing: border-box;
                color: var(--text);
                text-decoration: none;
                border-radius: .5rem;
                padding: .75rem;
                position: relative;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                z-index: 1;
                height: 7rem;

                .name {
                    display: flex;
                    align-items: center;

                    .avatar {
                        $size: 3.5rem;
                        height: $size;
                        width: $size;
                        border-radius: 50%;
                        background-color: var(--background);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: .5rem;

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }

                    h2 {
                        font-size: 1.25rem;
                        font-weight: 500;
                        color: var(--text);
                        margin: 0;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        max-width: 100%;
                    }
                }

                .informations {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: .5rem;

                    & > div {
                        display: flex;
                        align-items: center;
                        gap: .5rem;
                        height: 100%;

                        &.box {
                            border: 1px solid var(--border);
                            border-radius: .25rem;
                            padding: .15rem .3rem;
                            box-sizing: border-box;
                        }

                        fa-icon {
                            font-size: .9rem;
                            display: flex;
                        }

                        span {
                            display: flex;
                            align-items: center;
                            font-size: .85rem;
                        }
                    }
                }

                .background {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        mask-image: linear-gradient(90deg, #000 15%, transparent 50%);
                        opacity: .5;
                    }
                }

            }
        }
    }
}