<header class="options">
    <div>
        <div class="search">
            <input type="text" name="searchGroup" placeholder="Suchen..." [(ngModel)]="searchQuery" (ngModelChange)="searchGroup()"/>
            <button [class.clear]="searchQuery.length > 0" (click)="clearSearch()">
                <div>
                    <fa-icon [icon]="fa.faSearch"/>
                </div>
                <div>
                    <fa-icon [icon]="fa.faXmark"/>
                </div>
            </button>
        </div>
    </div>
    <div>
        <a [routerLink]="['/group', 'new']">
            <!-- <p>Neue Gruppe</p> -->
            <fa-icon [icon]="fa.faAdd"/>
        </a>

        <div class="container">
            <button (click)="isInvitePopupOpen = !isInvitePopupOpen">
                <!-- <p>Ausstehende Einladungen</p> -->
                <fa-icon [icon]="fa.faInbox"/>
                <span class="notify" *ngIf="groupInvitationCount > 0">{{ getInvitationCount(groupInvitationCount) }}</span>
            </button>

            <span class="popup" *ngIf="isInvitePopupOpen" (blur)="isInvitePopupOpen = false">
                <h1>Einladungen</h1>

                <div class="list">
                    @for (invitation of groupInvitation; track $index) {
                        <div class="element">
                            <div>
                                <img [src]="invitation.group?.avatar" class="avatar">
                                <div class="info">
                                    <a [routerLink]="[ '/', 'group', invitation.group?.uuid ]">
                                        <h3>{{ invitation.group?.name }}</h3>
                                    </a>
                                    <a [routerLink]="[ '/', 'profile', invitation.inviter?.username ]">
                                        <i>{{ invitation.inviter?.username }}</i>
                                    </a>
                                </div>
                            </div>

                            <div>
                                <button (click)="sendInvitationResponse(invitation, true)">
                                    <fa-icon [icon]="fa.faCheck"/>
                                </button>
                                <button (click)="sendInvitationResponse(invitation, false)">
                                    <fa-icon [icon]="fa.faXmark"/>
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </span>
        </div>

        <button>
            <!-- <p>Gruppe mit eEinladungslink Beitreten</p> -->
            <fa-icon [icon]="fa.faUserPlus"/>
        </button>
    </div>
</header>
<main>
    <div class="list">
        @for (group of groups; track $index) {
            <a [routerLink]="[ '/', 'group', group.uuid ]" class="group">
                <div class="name">
                    <div class="avatar">
                        <img *ngIf="group.avatar" [src]="group.avatar">
                    </div>
                    <h2>{{ group.name }}</h2>
                </div>

                <div class="informations">
                    <div class="box">
                        <fa-icon [icon]="fa.faUser"/>
                        <span class="number">
                            {{ getMemberCount(group.membersTotal) }}
                        </span>
                    </div>
                    <div class="box" *ngIf="group.isMember">
                        <fa-icon [icon]="fa.faUserCheck"/>
                    </div>
                </div>

                <div class="background">
                    <img *ngIf="group.banner" [src]="group.banner">
                    <span class="gradient"></span>
                </div>
            </a>
        }
    </div>
</main>