@if (group) {
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="top">
            <div class="banner">
                <div class="options" [class.disabled]="isUpdating">
                    <button type="button" (click)="uploadBanner.click()" (keydown.space.enter)="uploadBanner.click()">
                        <fa-icon [icon]="fa.faCamera"/>
                    </button>
                    <button *ngIf="group.banner" type="button" (click)="removeBanner()">
                        <fa-icon [icon]="fa.faXmark"/>
                    </button>
                    <input #uploadBanner type="file" name="banner" id="banner" accept="image/*" (change)="updateBanner($event)" [disabled]="isUpdating">
                </div>
                <div class="container">
                    <img
                        *ngIf="group.banner"
                        [src]="group.banner.url"
                        (load)="uploadProgressBanner.isLoading=false"
                        (error)="uploadProgressBanner.isLoading=false"
                        (show)="uploadProgressBanner.isLoading=true"/>
                </div>
                <div class="waiting" *ngIf="uploadProgressBanner.isLoading || uploadProgressBanner.isUploading">
                    @if (uploadProgressBanner.isUploading) {
                        <div class="progress">
                            <div>
                                <p>{{ uploadProgressBanner.uploadFilename }}</p>
                            </div>
                            <span class="bar">
                                <span [style.width.%]="uploadProgressBanner.progress"></span>
                            </span>
                            <div>
                                <p>{{ getSizeString(uploadProgressBanner.uploadSize) }}</p>
                                <p>{{ uploadProgressBanner.progress }}%</p>
                            </div>
                        </div>
                    }
                    @if (uploadProgressBanner.isLoading) {
                        <asset-loading />
                    }
                </div>
            </div>
            <div class="avatar">
                <div class="options" [class.disabled]="isUpdating">
                    <button type="button" (click)="avatarBanner.click()" (keydown.space.enter)="avatarBanner.click()">
                        <fa-icon [icon]="fa.faCamera"/>
                    </button>
                    <button *ngIf="group.avatar" type="button" (click)="removeAvatar()">
                        <fa-icon [icon]="fa.faXmark"/>
                    </button>
                    <input #avatarBanner type="file" name="avatar" id="avatar" accept="image/*" (change)="updateAvatar($event)" [disabled]="isUpdating">
                </div>
                <div class="container">
                    <img
                        *ngIf="group.avatar"
                        [src]="group.avatar.url"
                        (load)="uploadProgressAvatar.isLoading=false"
                        (error)="uploadProgressAvatar.isLoading=false"
                        (show)="uploadProgressAvatar.isLoading=true"/>
                </div>
                <div class="waiting" *ngIf="uploadProgressAvatar.isLoading || uploadProgressAvatar.isUploading">
                    @if (uploadProgressAvatar.isUploading) {
                        <div class="progress">
                            <div>
                                <p>{{ uploadProgressAvatar.uploadFilename }}</p>
                            </div>
                            <span class="bar">
                                <span [style.width.%]="uploadProgressAvatar.progress"></span>
                            </span>
                            <div>
                                <p>{{ getSizeString(uploadProgressAvatar.uploadSize) }}</p>
                                <p>{{ uploadProgressAvatar.progress }}%</p>
                            </div>
                        </div>
                    }
                    @if (uploadProgressAvatar.isLoading) {
                        <asset-loading />
                    }
                </div>
            </div>
        </div>

        <h3>{{ 'page.group.single.settings.edit.general.informations.title' | translate }}</h3>

        <ng-container *ngTemplateOutlet="formInput; context: { name: 'name', label: 'page.group.single.settings.edit.general.informations.name.label' | translate }" />
        <ng-container *ngTemplateOutlet="formInput; context: { name: 'description', label: 'page.group.single.settings.edit.general.informations.description.label' | translate, type: 'textarea' }" />

        <h3>{{ 'page.group.single.settings.edit.general.visibility.title' | translate }}</h3>
        <div class="selection-block" [class.disabled]="isUpdating">
            <label for="visibility_public" [class.active]="form.get('isPublic')?.value === true">
                <input type="radio" id="visibility_public" name="isPublic" [value]="true" formControlName="isPublic" [disabled]="isUpdating" />
                <p>{{ 'page.group.single.settings.edit.general.visibility.public.label' | translate }}</p>
            </label>
            <label for="visibility_private" [class.active]="form.get('isPublic')?.value === false">
                <input type="radio" id="visibility_private" name="isPublic" [value]="false" formControlName="isPublic" [disabled]="isUpdating" />
                <p>{{ 'page.group.single.settings.edit.general.visibility.private.label' | translate }}</p>
            </label>
        </div>

        @if (group.isOwner) {
            <h3>{{ 'page.group.single.settings.edit.general.dangerZone.title' | translate }}</h3>
            
            <div class="btns left">
                <button type="button" class="danger" (click)="showDeletePopup = true">
                    {{ 'page.group.single.settings.edit.general.dangerZone.delete.button' | translate }}
                </button>
            </div>
        }

        <div class="btns footer">
            <button type="submit" [disabled]="form.invalid && isUpdating">{{ 'page.group.single.settings.edit.general.buttons.save.button' | translate }}</button>
        </div>


        <!-- TEMPLATE -->
        <ng-template #formInput let-name="name" let-label="label" let-type="type">
            <div class="input-container" [class.error]="form.get(name)?.errors && form.get(name)?.touched">
                <div class="input" [class.disabled]="isUpdating">
                    <label [for]="name">{{ label }}</label>
                    @if (type !== 'textarea') {
                        <input [type]="type ? type : 'text'" [id]="name" [name]="name" [formControlName]="name" autocomplete="off" [disabled]="isUpdating"/>
                    } @else {
                        <textarea [id]="name" [name]="name" [formControlName]="name" autocomplete="off" [disabled]="isUpdating"></textarea>
                    }
                </div>
                <p *ngIf="form.get(name)?.errors && form.get(name)?.touched" class="error-msg">
                {{ `asset.form.error.${getFirstErrorKey(name)}` | translate }}
                </p>
            </div>
        </ng-template>
    </form>
}

<asset-popup
    [title]="'page.group.single.settings.edit.general.dangerZone.delete.title' | translate"
    [description]="'page.group.single.settings.edit.general.dangerZone.delete.confirmation.text' | translate"
    [type]="'delete'"
    [(show)]="showDeletePopup"
    (close)="delete($event)"/>