:host {
    padding: 0 1rem;
    padding-top: var(--nav-height);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: calc(var(--device-bottom) + 1.5rem + 3.5rem);

    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex: 1;
        box-sizing: border-box;
        position: relative;

        .group {
            .group-list {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
                gap: 1rem;
                box-sizing: border-box;
                padding: 1rem 0;

                .group-item {
                    background-color: var(--background-secondary);
                    box-sizing: border-box;
                    color: var(--text);
                    text-decoration: none;
                    border-radius: .5rem;
                    padding: .75rem;
                    position: relative;
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    z-index: 1;
                    height: 7rem;
                    border: 0;
                    cursor: pointer;

                    &.selected {
                        outline: 1px solid var(--primary);
                    }

                    &.no-group {
                        justify-content: center;
                        align-items: center;

                        h2 {
                            font-size: 1.25rem;
                            font-weight: 500;
                            color: var(--text);
                            margin: 0;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            max-width: 100%;
                        }
                    }

                    .name {
                        display: flex;
                        align-items: center;

                        .avatar {
                            $size: 3.5rem;
                            height: $size;
                            width: $size;
                            border-radius: 50%;
                            background-color: var(--background);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: .5rem;

                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                                object-fit: cover;
                                object-position: center;
                            }
                        }

                        h2 {
                            font-size: 1.25rem;
                            font-weight: 500;
                            color: var(--text);
                            margin: 0;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            max-width: 100%;
                        }
                    }

                    .background {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: -1;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                            mask-image: linear-gradient(90deg, #000 15%, transparent 50%);
                            opacity: .5;
                        }
                    }

                }
            }
        }

        .game-mode {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .list {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                gap: 1rem;

                .game-mode-item {
                    background-color: var(--background-secondary);
                    border: 0;
                    cursor: pointer;
                    border-radius: .5rem;
                    height: 7.5rem;
                    color: var(--text);
                    display: flex;
                    align-items: center;
                    position: relative;
                    padding: 2rem;
                    box-sizing: border-box;
                    grid-area: span 2 / span 2;
                    overflow: hidden;
                    
                    h2 {
                        font-size: 1.75rem;
                        font-weight: 500;
                        color: var(--text);
                        margin: 0;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        max-width: 100%;
                        z-index: 1;
                        transition: font-size 150ms ease-in-out;
                        text-shadow: 0 0 .5rem var(--background-secondary);
                    }

                    .background {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;

                        img {
                            width: 12.5rem;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                            opacity: .75;
                            filter: blur(1px);
                            transition:
                                opacity 150ms ease-in-out,
                                filter 150ms ease-in-out,
                                transform 150ms ease-in-out;
                        }
                    }

                    &.large {
                        grid-area: span 3 / span 3;
                    }

                    &:hover, &.selected {
                        .background {
                            img {
                                filter: blur(3px);
                                opacity: .5;
                                transform: scale(1.05);
                            }
                        }
                    }

                    &.selected {
                        outline: 1px solid var(--primary);
                    }
                }
            }
        }

        .game-settings {
            flex-direction: column;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto 1fr 1fr;
            gap: 1rem;

            .header {
                grid-area: span 1 / span 3;
            }

            .player-selection {
                grid-area: span 1 / span 2;
                display: grid;
                grid-template-columns: 2fr 3fr;
                width: 100%;
                // max-width: 900px;
                box-sizing: border-box;

                .search-container {
                    display: flex;
                    flex-direction: column;

                    .search {
                        display: flex;
                        align-items: center;
                        background-color: var(--background);
                        border: 1px solid var(--border);
                        border-radius: 0.25rem;
                        margin-bottom: 1rem;

                        input {
                            width: 100%;
                            padding: .25rem 0 .25rem .5rem;
                            border: none;
                            background-color: transparent;
                            color: var(--text);
                            font-size: 1rem;
                            width: 100%;
                            outline: none;

                            &::placeholder {
                                color: var(--border);
                            }
                        }

                        button {
                            border: none;
                            background-color: transparent;
                            color: var(--text);
                            font-size: 1rem;
                            cursor: pointer;
                            height: 2rem;
                            width: 2.25rem;
                            overflow: hidden;

                            &.clear {
                                div {
                                    transform: translateY(-100%);
                                }
                            }

                            div {
                                transition: transform 250ms ease-in-out;
                                padding: .25rem .5rem;
                                box-sizing: border-box;
                                height: 2rem;
                                width: 2rem;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            &:hover {
                                color: var(--primary);
                            }
                        }
                    }

                    .guest-btn {
                        height: 2rem;
                        width: 100%;
                        border: 0;
                        border-radius: 10rem;
                        background-color: var(--background-secondary);
                        border: 1px solid var(--border);
                        color: var(--text);
                        user-select: none;
                        cursor: pointer;
                    }

                    .list {
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;
                        margin-top: 1rem;
                    }

                    p.error {
                        font-size: .9rem;
                        text-align: center;
                        margin-top: .5rem;
                        opacity: .5;
                    }

                    asset-loading {
                        flex: 1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    
                }

                .list-container {
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    overflow-x: hidden;

                    .list {
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;
                    }

                    .list-header {
                        display: flex;
                        align-items: center;
                        gap: .5rem;
                        margin-bottom: .75rem;
                        height: 1.75rem;

                        h2 {
                            font-size: 1.25rem;
                            font-weight: 500;
                            color: var(--text);
                            margin: 0;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            max-width: 100%;
                            flex: 1;
                            display: flex;
                            align-items: center;
                            gap: .75rem;

                            span {
                                font-size: .95rem;
                                color: var(--text-secondary);
                                font-weight: 400;

                                &.error {
                                    color: var(--error);
                                }
                            }
                        }

                        button {
                            height: 1.75rem;
                            width: 1.75rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 0;
                            background-color: transparent;
                            color: var(--text);
                            cursor: pointer;

                            fa-icon {
                                font-size: 1rem;
                            }

                            &:hover {
                                color: var(--primary);
                            }
                        }
                    }
                }

                .player-container {
                    box-sizing: border-box;
                    height: 24rem;
                    
                    &:not(:last-child) {
                        padding-right: 1rem;
                        border-right: 1px solid var(--border);
                    }
                    
                    &:last-child {
                        padding-left: 1rem;
                    }

                    & > .list {
                        overflow-y: auto;
                        scrollbar-width: none;
                        -ms-overflow-style: none;
                        &::-webkit-scrollbar {
                            display: none;
                        }
                    }
                }
            }

            .box-border {
                border: 1px solid var(--border);
                border-radius: .5rem;
                padding: 1rem;
                box-sizing: border-box;
            }

            .game-information {
                h2 {
                    font-size: 1.25rem;
                    font-weight: 500;
                    color: var(--text);
                    margin-bottom: .5rem;
                }

                p {
                    white-space: pre-line;
                    font-size: .9rem;
                    text-align: justify;
                }
            }

            .gamemode-settings {
                grid-area: span 1 / span 3;
                display: flex;
                flex-direction: column;

                h2 {
                    font-size: 1.25rem;
                    font-weight: 500;
                    color: var(--text);
                    margin-bottom: .5rem;
                }

                .gamemode-settings-content {
                    display: flex;
                    flex: 1;

                    & > div {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        box-sizing: border-box;
                        
                        &:not(:nth-child(1)) {
                            border-left: 1px solid var(--border);
                            padding-left: 1rem;
                        }

                        &:not(:nth-last-child(1)) {
                            padding-right: 1rem;
                        }
                        
                        h3 {
                            font-size: 1.25rem;
                            font-weight: 500;
                            color: var(--text);
                            margin-bottom: .5rem;
                        }

                        .button-grid {
                            display: grid;
                            gap: 1rem;
                            height: fit-content;
                            margin: auto 0;

                            @each $cols in 2, 3 {
                                &.col-#{$cols} {
                                    grid-template-columns: repeat($cols, 1fr);
                                }
                            }

                            &.hide {
                                display: none;
                            }

                            button {
                                background-color: transparent;
                                color: var(--text);
                                border: 1px solid var(--border);
                                border-radius: .25rem;
                                padding: .5rem 1rem;
                                cursor: pointer;
                                transition: opacity 150ms ease-in-out;

                                &:hover {
                                    opacity: .5;
                                }

                                &.selected {
                                    background-color: var(--primary);
                                    color: var(--text-secondary);
                                    border-color: var(--primary);
                                }
                            }

                            .input {
                                flex: 1;
                                display: flex;

                                input {
                                    flex: 1;
                                    padding: .25rem;
                                    border: 1px solid var(--border);
                                    border-radius: .25rem;
                                    background-color: var(--background);
                                    color: var(--text);
                                    font-size: 1rem;
                                    text-align: center;
                                    outline: none;
                                    
                                    &::-webkit-inner-spin-button,
                                    &::-webkit-outer-spin-button {
                                        -webkit-appearance: none;
                                        margin: 0;
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }

        .step-controls {
            top: 0;
            position: fixed;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            gap: 1rem;
            bottom: calc(1.5rem + var(--device-bottom));
            max-width: 1280px;
            width: 100%;
            align-self: auto;
            padding: .5rem 1.5rem;
            box-sizing: border-box;
            pointer-events: none;

            button {
                pointer-events: auto;
                height: 2.5rem;
                width: 10rem;
                padding: 0 .75rem;
                font-size: .9rem;
                border: 0;
                cursor: pointer;
                border-radius: .25rem;
                background-color: var(--border);
                color: var(--text);
                box-shadow: 0 0 .5rem var(--shadow-background);

                &.large {
                    width: 15rem;
                }

                &.primary {
                    background-color: var(--primary);
                }

                &:disabled {
                    opacity: .5;
                    cursor: not-allowed;
                }
            }
        }
    }

    .step-status-box {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: .5rem;
        padding-bottom: calc(.5rem + var(--device-bottom));
        box-sizing: border-box;

        .status {
            position: relative;
            height: .5rem;
            background-color: var(--background);
            border-radius: .25rem;
            overflow: hidden;
            background-color: var(--background-secondary);
            box-shadow: 0 0 .5rem var(--shadow-background);

            span {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                background-color: var(--primary);
                transition: width 250ms ease-in-out;
            }
        }
    }
}


.cdk-drop-list-dragging .profile-item:not(.cdk-drag-placeholder) {
    transition: transform 500ms ease;
}

.profile-item {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    box-sizing: border-box;
    background-color: var(--background-secondary);
    border: 1px solid var(--border);
    border-radius: .5rem;
    color: var(--text);
    transition: opacity 150ms ease-in-out;
    position: relative;

    &:not(.cdk-drag-preview) {
        transition: opacity 150ms ease-in-out, transform 250ms ease-in-out;
        touch-action: pan-y;
    }

    &.btn {
        cursor: pointer;
    }

    &:disabled {
        opacity: .5;
        cursor: not-allowed;
    }

    .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        width: 2rem;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
        }
    }

    span.index {
        padding: 0 .25rem;
        font-size: .75rem;
        opacity: .5;
    }

    p.name {
        text-align: left;
        font-size: 1rem;
        font-weight: 500;
        color: var(--text);
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 100%;
        flex: 1;
    }

    button.delete {
        width: 1.5rem;
        height: 1.5rem;
        border: 0;
        background-color: transparent;
        color: var(--text);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: .5;

        fa-icon {
            font-size: 1rem;
        }
    }

    .move-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.5rem;
        width: 1.5rem;
        opacity: .25;
        cursor: grab;
    }

    &.cdk-drag-preview {
        opacity: .5;

        &.delete-active {
            transform: translateX(0);

            .delete-confirm {
                transform: translateX(0);
            }
        }
    }

    &.cdk-drag-placeholder {
        opacity: .5;
        border-style: dashed;

        * {
            opacity: 0 !important;
        }

        
        &.delete-active {
            transform: translateX(0);

            .delete-confirm {
                transform: translateX(0);
            }
        }
    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: .5rem;
        background-color: var(--background-secondary);
    }

    .delete-confirm {
        position: absolute;
        right: 0;
        top: 0;
        width: 3rem;
        height: 3rem;
        background-color: var(--error);
        border: var(--border);
        border-radius: .5rem;
        color: var(--text);
        z-index: -1;
        transform: translateX(0);
        transition: transform 250ms ease-in-out;
        cursor: pointer;
    }

    &.delete-active {
        transform: translateX(-3.5rem);

        .delete-confirm {
            transform: translateX(calc(100% + .5rem));
        }
    }
}

@media (max-width: 600px) {
    :host {
        main {
            .game-settings {
                display: flex;
                flex-direction: column;

                .player-selection {
                    grid-template-columns: 1fr;

                    .player-container {
                        box-sizing: border-box;

                        &:nth-child(1) {
                            height: 17rem;
                        }
                        
                        &:not(:last-child) {
                            padding: 0;
                            border: 0;
                            padding-bottom: 1rem;
                            border-bottom: 1px solid var(--border);
                        }
                        
                        &:last-child {
                            padding: 0;
                            padding-top: 1rem;
                        }
                    }
                }
            }
        }
    }
}