:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100svh;
    min-height: fit-content;

    .container {
        padding-top: calc(var(--nav-height) + 9rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: var(--background-secondary);
        background-size: cover;
        background-attachment: fixed;

        .content {
            background-color: var(--background);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            min-height: 100%;
            width: 100%;
            max-width: 1280px;
            border-radius: 1rem 1rem 0 0;

            .top {
                display: flex;
                align-items: flex-end;
                height: 6rem;
                margin-left: 5rem;

                .avatar {
                    width: 12rem;
                    height: 12rem;
                    border-radius: 50%;
                    margin-right: 1rem;
                    border: 5px solid var(--background);
                    box-sizing: border-box;
                    position: relative;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }

                .name {
                    display: flex;
                    height: 100%;
                    align-items: center;

                    h2 {
                        font-size: 2rem;
                        font-weight: 500;
                        color: var(--text);
                    }
                }
            }

            & > section {
                box-sizing: border-box;
                padding: 1rem;
                display: flex;
                flex: 1;

                main {
                    flex: 1;
                    display: flex;
                    flex-direction: column;

                    nav {
                        display: flex;
                        width: 100%;
                        padding-right: 1rem;
                        box-sizing: border-box;
                        
                        ul {
                            display: flex;
                            gap: 1rem;
                            list-style: none;
                            border-bottom: 1px solid var(--border);

                            li {
                                a {
                                    display: flex;
                                    align-items: center;
                                    gap: .25rem;
                                    padding: 0 0.75rem;
                                    height: 2.5rem;
                                    text-decoration: none;
                                    color: var(--text);
                                }
                            }
                        }
                    }
                }

                aside {
                    width: 20rem;
                    border-left: 1px solid var(--border);
                    padding-left: 1rem;

                    & > div {
                        display: flex;
                        flex-direction: column;
                        gap: .25rem;
                        padding: .5rem 0;

                        h3 {
                            font-size: 1rem;
                            font-weight: 500;
                            color: var(--text);
                        }

                        .profile-list {
                            display: flex;
                            flex-wrap: wrap;
                            transition: gap 150ms ease-in-out;

                            span {

                                a, button {
                                    border-radius: 10rem;
                                    min-width: 2.5rem;
                                    max-width: 9rem;
                                    height: 2.5rem;
                                    display: flex;
                                    align-items: center;
                                    overflow: hidden;
                                    box-sizing: border-box;
                                    border: 3px solid var(--background);
                                    background-color: var(--background);
                                    text-decoration: none;
                                    color: var(--text);
                                    cursor: pointer;
                                    gap: .5rem;
                                    transition: background-color 500ms ease-in-out, border-color 500ms ease-in-out;

                                    .avatar {
                                        height: calc(2.5rem - 6px);
                                        min-width: calc(2.5rem - 6px);
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        overflow: hidden;
                                        border-radius: 10rem;

                                        img {
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                        }
                                    }

                                    p {
                                        width: 100%;
                                        text-align: center;
                                        font-size: .8rem;
                                        font-weight: 500;
                                        color: var(--text);
                                        padding-right: .5rem;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                        white-space: nowrap;
                                        max-width: 100%;
                                    }
                                }

                                button {
                                    background: var(--border);
                                    font-weight: 600;
                                }

                                &.extend {
                                    button {
                                        justify-content: center;
                                    }
                                }
                            }

                            &.large {
                                gap: .5rem;

                                span {
                                    a {
                                        border-color: var(--border);
                                        background-color: var(--border);
                                    }
                                }
                            }
                        }

                        &:not(:last-child) {
                            border-bottom: 1px solid var(--border);
                        }
                    }
                }
            }
        }
    }
}