@if (!sessionAccount) {

    @if (isSavedUser) {
        <h1>Willkommen zurück</h1>
    
        <div class="past-user-list">
            @for (user of lastUsers; track $index) {
                <a tabindex="0" (click)="selectUser(user)" (keydown.enter)="selectUser(user)" (keydown.space)="selectUser(user)">
                    <div class="avatar">
                        <img *ngIf="user.avatar" [src]="user.avatar">
                    </div>
                    <h3>{{ user.username }}</h3>
                </a>
            }
    
            <a tabindex="0" (click)="isSavedUser = false" (keydown.enter)="isSavedUser = false" (keydown.space)="isSavedUser = false">
                <div class="avatar">
                    <span></span>
                </div>
                <h3>{{ 'Anderer Benutzer' }}</h3>
            </a>
        </div>
    }

    @if (!isSavedUser) {
        <h1>{{ 'page.auth.login.title' | translate }}</h1>
    
        <form>
            <div>
                <label for="username">{{ 'page.auth.login.username.label' | translate }}</label>
                <input type="text" class="input" id="username" name="username" autocomplete="username" [(ngModel)]="loginObject.username" required>
            </div>
    
            <div>
                <label for="password">{{ 'page.auth.login.password.label' | translate }}</label>
                <div class="input-container">
                    <input [type]="isPasswordVisible ? 'text' : 'password'" id="password" name="password" autocomplete="current-password" [(ngModel)]="loginObject.password" required>
                    <button type="button" (click)="isPasswordVisible = !isPasswordVisible">
                        <span *ngIf="!isPasswordVisible">EYE</span>
                        <span *ngIf="isPasswordVisible">NOT EYE</span>
                    </button>
                </div>
            </div>
    
            <a [routerLink]="['forget']">{{ 'page.auth.login.forgotPassword.label' | translate }}</a>
            <!-- Error -->
            <span class="error" *ngIf="loginResponse && loginResponse.error">
                <p>{{ loginResponse.error }}</p>
            </span>
            <button (click)="login()">{{ 'page.auth.login.login.button' | translate }}</button>
        </form>
    }

}
